<!DOCTYPE html>
<html>
  <head>
    <title>Pokeapp: <%= @page_title || "Admin Area" %></title>
    <%= stylesheet_link_tag('card', :media => 'all')%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Pokémon</h1>
    <% if !flash[:notice].blank? %>
      <div class= "notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
