<div id="<%= dom_id sprite_set %>">
  <p>
    <strong>Sprites on:</strong>
    <%= sprite_set.sprites_on_id %>
  </p>

  <p>
    <strong>Sprites on type:</strong>
    <%= sprite_set.sprites_on_type %>
  </p>

  <p>
    <strong>Back default:</strong>
    <%= sprite_set.back_default %>
  </p>

  <p>
    <strong>Back female:</strong>
    <%= sprite_set.back_female %>
  </p>

  <p>
    <strong>Back shiny:</strong>
    <%= sprite_set.back_shiny %>
  </p>

  <p>
    <strong>Back shiny female:</strong>
    <%= sprite_set.back_shiny_female %>
  </p>

  <p>
    <strong>Front default:</strong>
    <%= sprite_set.front_default %>
  </p>

  <p>
    <strong>Front female:</strong>
    <%= sprite_set.front_female %>
  </p>

  <p>
    <strong>Front shiny:</strong>
    <%= sprite_set.front_shiny %>
  </p>

  <p>
    <strong>Front shiny female:</strong>
    <%= sprite_set.front_shiny_female %>
  </p>

</div>
